# Task 2: Learning python libraries
###### pandas, numpy, matplotlib

## 1. Import pandas, numpy and matplotlib

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
import tensorflow as tf

## 2. load the data 
<br> load the titanic dataset in a pandas dataframe <br> (download dataset from https://www.kaggle.com/c/titanic/data and store it in a folder called <b>"djsr_dv"</b> in the root of your drive) <br>
Note that you have to download the train and test csv files seperately

In [ ]:
train_path ="https://drive.google.com/file/d/1-V3sMZY7YSkmWHeYS8pcO90RD_b9bx-L/view?usp=share_link"
test_path = "https://drive.google.com/file/d/1BmU-_VAEMUxbSemd9RcxVP3BQyGbvs4D/view?usp=share_link"
test_df=pd.read_csv(test_path)
train_df=pd.read_csv(train_path)

In [ ]:
train_df.head(1000)

In [ ]:
train_df.tail(5)

## 3. Exploratory Data Analysis
Exploratory data analysis is a very important part of ML as it helps you understand the data you are dealing with <br>
<br>
(we will be working on the train dataframe in this task)

### 3.a. overview of the dataset

 - write code to list the columns in your dataframe (each column on new line as visibility is important)

In [ ]:
#write code here
columns = train_df.columns
print(columns)

Index(['<!DOCTYPE html><html><head><meta name="google" content="notranslate"><meta http-equiv="X-UA-Compatible" content="IE=edge;"><style nonce="oMDND6QslyqWUgMX5Kgbhg">@font-face{font-family:'Roboto';font-style:italic;font-weight:400;src:url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xIIzc.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc9.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc9.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc9.ttf)format('truetype');}</style><meta name="referrer" content="origin"><title>train.csv - Google Drive</title><meta property="og:title" content="train.csv"><meta property="og:type" content="article"><meta property="og:site_name" content="Google Docs"><meta property="og:url" content="https://drive.google.com/file/d/1-V3sMZY7YSkmWHeYS8pcO90RD_b9bx-L/view?usp=share_link&amp;usp=embed_facebook"><meta property="og:image" content="https://lh3.googleusercontent.com/vs9RnM81Hvx3nfCoiMJtL_2NiY7Jmgik2b2wkvhQyrlWmLQR59fTv0C-7C43U8YqZLE=w1200-h630-p"><meta property="og:image:width" content="1200"><meta property="og:image:height" content="630"><link rel="shortcut icon" href="https://ssl.gstatic.com/images/branding/product/1x/drive_2020q4_32dp.png"><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Google+Sans:300',
       '400', '500',
       '700" nonce="oMDND6QslyqWUgMX5Kgbhg"><link rel="stylesheet" href="https://www.gstatic.com/_/apps-fileview/_/ss/k=apps-fileview.v.vMBQxrMWu4Q.L.X.O/am=ABA/d=0/rs=AO0039tcfUx2tuzmjLnpE6QHAyFJtSAPzw" nonce="oMDND6QslyqWUgMX5Kgbhg"><script nonce="VGzDI4ZNmHauvwE3DgfjtQ">_docs_flag_initialData={"docs-ails":"docs_cold"',
       'docs-fwds:"docs_sdf"', 'docs-crs:"docs_crs_nfd"', 'docs-l2t:0',
       'docs-shdn:0', 'docs-tfh:""', 'info_params:{}',
       ...
       '0.69', '0.70', '1.70', '0.71', '0].8', '[[null.2', 'null.201',
       'null.202',
       'https://www.gstatic.com/og/_/js/k=og.qtm.en_US.OsyHHRpFvlk.es5.O/rt=j/m=qabr,q_dnp,qapid/exm=qaaw,qadd,qaid,qein,qhaw,qhbr,qhch,qhga,qhid,qhin,qhpr/d=1/ed=1/rs=AA2YrTvROJRIUHNXRGvxagmQNrIBf8h-LQ]]]]',
       '};this.gbar_=this.gbar_||{};(function(_){var window=this;'],
      dtype='object', length=788)

 - write a function that returns the number of rows and columns in the dataset

In [ ]:
#write code here (print values as well)
#I am making a function here which will take dataset as input and return the number of row and columns as output using shape attribute
def get_dimensions(dataset):
  num_rows = dataset.shape[0]
  num_columns = dataset.shape[1]
  return (num_rows, num_columns)

  dimensions = get_dimensions(dataset) #calling the function and storing in variable name dimensions array
  num_rows = dimensions[0]
  num_columns = dimensions[1]

 - use the info() method of pandas dataframe to print the info related to the dataframe

In [ ]:
# write code here
#The info() method of a Pandas dataframe returns a summary of the data types, memory usage, and number of non-null values in each column of the dataframe.
print(train_df.info())

 - use the describe() method of pandas dataframe to print the statistical description of the dataset

In [ ]:
#write code here
#The describe() method of a Pandas dataframe returns a summary of the central tendency, dispersion, and shape of the distribution of the data, as well as the count, mean, minimum, maximum, and quartiles of the data.
print(train_df.describe())

 - Find all columns that have unique values. (example : the Gender column has 2 unique values Male and Female) <br>

 - if the columns have finite unique values, then add them in a dictionary of lists and print it <br>
<br>
dictionary should look like : <br>
<t>{<br>&nbsp;&nbsp; "Gender" : ["Male", "Female"],<br>&nbsp;&nbsp; "Col2" : ["unique1", "unique2"],<br>&nbsp;&nbsp;&nbsp;&nbsp;.<br>&nbsp;&nbsp;&nbsp;&nbsp;.<br>&nbsp;&nbsp;&nbsp;&nbsp;.<br>}

In [ ]:
#write code here
#The nunique() method returns the number of unique values in each column of the dataframe
#we can use a loop to iterate over the columns and add each column to the dictionary as a new key-value pair.
unique_columns = train_df.columns[train_df.nunique() == train_df.shape[0]]

columns_dict = {}
for col in unique_columns:
  
  columns_dict[col] = train_df[col].unique().tolist()

print(columns_dict)

{}

### 3.b. Visualizing hidden Details

##### Aim is to find relationship between Title and Survival rate
- print the <b>name</b> column of the data<br>
- notice that the word after the first comma encapsulates the title of the person (Mr., Mrs, etc)
- extract the title using regular expression (help given below in the code)
- store the title in a new column in the dataframe. Name the column : <b>Title</b>

In [ ]:
#write code here (for regex help refer next code cell)
import re
titlelist=[]
for name in train_df['Name']:
  title_search = re.search('(\w+)\.', name) 
 
  if title_search:
    title = title_search.group(1) 
    titlelist.append(title)

In [ ]:
#regex example
import re
titlelist=[]
for name in name_column :
  title_search = re.search('(\w+)\.', name) 
  #the first argument is a pattern that we are looking for
  # print("result:", title_search) #this is the result we get after looking for the pattern
  if title_search:
    title = title_search.group(1) 
    #extracting the pattern found by regular expression (title here)
    titlelist.append(title)

In [ ]:
#show the new dataframe with "Title" column here

- write code to get unique values from the title column
- use the unique titles to find the number of people who survived (1) and number of people who did not (0) for each title. <b>num_survived/total</b> will give the survival rate for that title
- make a new dataframe called <b>SR_df</b> and add the survival rates corresponding to titles in it<br><br>
you may write a function for the above.<br><br>
expected output : <br>
Mr &nbsp;&nbsp; 0.679392<br>
Capt &nbsp;&nbsp; 0.1245<br>
&nbsp;&nbsp;.<br>
&nbsp;&nbsp;.<br>
&nbsp;&nbsp;.<br>

In [ ]:
#write code here 
#The value_counts() method counts the frequency of unique values in a Pandas series and returns a series with the values as the index and the counts as the values. It is often used to compute histograms or summarize data distributions.
#we will create a function here and I have not understood this very well
def get_survival_rates(df):
    titles = df['Title'].unique()
    survival_rates = {}
    for title in titles:
       title_df = df[df['Title'] == title]
    num_survived = title_df['Survived'].sum()
    num_not_survived = title_df.shape[0] - num_survived
    survival_rate = num_survived / (num_survived + num_not_survived)
    survival_rates[title] = survival_rate
    SR_df = pd.DataFrame.from_dict(survival_rates, orient='index', columns=['Survival Rate'])
    return SR_df
SR_df = get_survival_rates(train_df)
print(SR_df)

In [ ]:
#write code here

In [ ]:
#write code here

- use SR_df to plot a bar graph for survival rate vs Title

In [ ]:
#write code here
#plot.bar() method of a Pandas dataframe is a convenient way to create a bar chart of the data in the dataframe. It is part of the Matplotlib library, which is a popular library for creating plots and charts in Python.
SR_df = get_survival_rates(train_df)
SR_df.plot.bar(y='Survival Rate', rot=0)

plt.ylabel('Survival Rate')


plt.show()

This brings us to the end of EDA. <br>
You may feel free to do more exploratry analysis.<br>
The aim of this notebook is not to point out every small detail but to give you an overview and guide you

## 4. Data Visualization

- Make a pie chart to show the number of people who survived and number of people who did not
- Make a pie chart to show the number of <b>Males</b> who survived and number of people who did not
- Make a pie chart to show the number of <b>Females</b> who survived and number of people who did not
<br><br>
Note that all three charts must be visible in a single row (look into subplots)

In [ ]:
#write code here
#To create pie charts of the number of people who survived and the number of people who did not survive in a Pandas dataframe, we use the plot.pie() method of the dataframe.We also use the subplots() function from the Matplotlib library to create multiple plots in a single row.
fig, (ax1, ax2, ax3) = plt.subplots(1, 3, figsize=(12, 4))

# Plot the pie chart for all passengers
train_df.plot.pie(y='Survived', ax=ax1, labels=['Not Survived', 'Survived'])
ax1.set_title('All Passenge_rs')

# Plot the pie chart for male passengers
male_df = train_df[train_df['Sex'] == 'male']
male_df.plot.pie(y='Survived', ax=ax2, labels=['Not Survived', 'Survived'])
ax2.set_title('Male Passengers')

# Plot the pie chart for female passengers
female_df = train_df[train_df['Sex'] == 'female']
female_df.plot.pie(y='Survived', ax=ax3, labels=['Not Survived', 'Survived'])
ax3.set_title('Female Passengers')

# Show the plot
plt.show()

- Find if money affected survival rate (fare and Pclass) 
 - Make a bar graph showing Pclass vs survival rate
 - Make a KDE plot (use the sns library) and plot Fare based on the Survival (google away for this one)

In [ ]:
#write code for bar graph here
#I am not understanding this too
#groupby() method to group the data by the Pclass and Fare columns and then
#mean() method to compute the mean survival rate for each group or we can use the plot.bar() method to create a bar graph of the survival rates for each Pclass
# sns.kdeplot() function from the Seaborn library to create a KDE plot of the Fare column based on the Survived column.
pclass_survival = train_df.groupby('Pclass')['Survived'].mean()
pclass_survival.plot.bar()
plt.ylabel('Survival Rate')
plt.show()

In [ ]:
#write code for kde plot & fare
#I am not understanding this too
sns.kdeplot(train_df[train_df['Survived'] == 1]['Fare'], label='Survived')
sns.kdeplot(train_df[train_df['Survived'] == 0]['Fare'], label='Not Survived')
plt.show()

## 5. Preprocessing
preprocessing is a very important step before we step into modelling

 - when we added the Title column in the datadframe, we did preprocessing on the existing data to extract relevant information. As we also tried to explore and understand the data using survival rate, we saw it under EDA.

### 5.a. Removing unnecessary columns

 - The columns PassengerId and Ticket play no logical role in being related to the survival of a passenger. Hence we will remove them.
 - We will also remove the Name column as we have done <b>feature extraction</b> and obtained titles instead. (test set might have extra titles which are not in the train set. Think about how we would consider them. This however doesn't affect task 1's objective)(DOUBT)

In [ ]:
#write code to remove unnecessary columns from the dataframe here
#we will use drop() methods
train_df = train_df.drop(columns=['PassengerId', 'Ticket', 'Name'])

### 5.b. Nan analysis

 - write code to find the percentage of Nans in each column and visualize it in a tabular format

In [ ]:
#write code here
#isnull() method to create a boolean mask of the missing values and then mean() method to compute the percentage of missing values.
null_counts = train_df.isnull().mean()
null_counts = pd.DataFrame(null_counts, columns=['Percentage of Nans'])
print(null_counts)

                                                    Percentage of Nans
<!DOCTYPE html><html><head><meta name="google" ...            0.000000
400                                                           0.331361
500                                                           0.408284
700" nonce="oMDND6QslyqWUgMX5Kgbhg"><link rel="...            0.526627
docs-fwds:"docs_sdf"                                          0.562130
...                                                                ...
[[null.2                                                      1.000000
null.201                                                      1.000000
null.202                                                      1.000000
https://www.gstatic.com/og/_/js/k=og.qtm.en_US....            1.000000
};this.gbar_=this.gbar_||{};(function(_){var wi...            1.000000

[788 rows x 1 columns]

 - remove any column having more than 50% Nans as they would be of no use

In [ ]:
#write code here
#loc[] indexer to select only the columns with a percentage of missing values less than 50% and storing the resulting dataframe in a new variable.
#null_counts = df.isnull().mean()
train_df = train_df.loc[:, null_counts < 0.5]

 - Fill Nans in the Embark column with the statistical mode
 - Fill Nans in the Age column with it's statistical mean

In [1]:
#write code here
#Nans in the Embark column with the statistical mode
#The fillna() method fills missing values in a Pandas dataframe with a specified value.
mode = train_df['Embark'].mode()[0]
train_df['Embark'] = train_df['Embark'].fillna(mode)

#Nans in the Age column with it's statistical mean
mean = train_df['Age'].mean()
train_df['Age'] = train_df['Age'].fillna(mean)

NameError: ignored

 - show the new Nan percentage vs column name table after filling and removing to make sure there are no Nans

In [ ]:
#write code here
#the isnull() method to create a boolean mask of the missing values and then the mean() method to compute the percentage of missing values.
null_counts = train_df.isnull().mean()
null_counts = pd.DataFrame(null_counts, columns=['Percentage of Nans'])
print(null_counts)

### 5.c. Adding features to the dataset

 - Read the kaggle link (titanic dataset) provided above and see what the two columns SibSP and Parch signify
 - Using that create a new column called <B>Family_members</b>
 - Fill it with the sum of SibSP and Parch

In [ ]:
#write code here
#The SibSp column in the Titanic dataset represents the number of siblings or spouses of the passenger on board the ship. The Parch column represents the number of parents or children of the passenger on board the ship.
#To create a new column called Family_members that represents the sum of the SibSp and Parch columns, you can use the add() method of the dataframe and pass the SibSp and Parch columns as arguments.
train_df = pd.read_csv('https://www.kaggle.com/competitions/titanic/data')
train_df['Family_members'] = train_df['SibSp'].add(train_df['Parch'])

 - Now you may remove the two columns SibSP and Parch<br>
 It is important to remove them because they introduce multicollinearity in our dataset now as the new column Family_members is directly dependent on them.<br>
 Multicollinearity is deadly to linear models that we will look into later

In [ ]:
#write code here
#drop() method
train_df = train_df.drop(columns=['SibSp', 'Parch'])

# Print the dataframe to verify the columns have been removed
print(train_df)

### 5.d. Scaling and Normalization
we don't want to give undue advantage to a few columns (when training models), just because they have a numeric data that is larger in magnitude.<br>
Therefore we scale all values down to a specific range or distribution
<br>

 - Columns to apply scaling on
  - Age
  - Fare
  - Family_members

- Although Pclass column is numeric, it contains classification data (only 1, 2 and 3). Therefore only continuous data like age, fare, etc needs to be normalized

 - Read about standardization and normalization in this link https://www.geeksforgeeks.org/normalization-vs-standardization/
 - apply the formulas given in the link above and scale/normalize the features that are supposed to be scaled
 - It is your choice to choose wether you choose to normalize or standardize a column. You will be able to make your choice after reading the link contents.
 - If you feel confused with the choice, then you can go ahead and directly normalize.

In [ ]:
#write code here to normalize  age X_new = (X - X_min)/(X_max - X_min)

In [ ]:
#Write code to standardize fare X_new = (X - mean)/Std

### 5.e. One hot encoding
Machine Learning models do not understand strings <br>
They understand numbers<br>
That is one of the reasons why we one hot encode few columns<br>

- refer this link for more information : https://datagy.io/pandas-get-dummies/
- you can use this or directly look into pandas get_dummies() method to implement this

- columns to apply one_hot encoding on
 - Pclass
 - Sex
 - Title
 - Embarked

In [ ]:
#write code here

In [ ]:
#show the final dataframe here

End of Preprocessing